<div class="contact py-5" id="contact">
  <div class="container py-5">
    <div class="py-5">
      <h1 class="text-center">CONATCT SECTION</h1>
      <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="form">
          <form>
            <label class="py-2">userName </label>
            <input
              class="form-control"
              placeholder="userName"
              type="text"
              name="fname"
            />
            <label class="py-2"> userAge </label>
            <input
              class="form-control"
              placeholder="userAge"
              type="number"
              name="age"
            />
            <label class="py-2"> userEmail </label>
            <input
              class="form-control"
              placeholder="userEmail"
              type="email"
              name="email"
            />
            <label class="py-2"> userPassord </label>
            <input
              class="form-control"
              placeholder="userPassord"
              type="password"
              name="password"
            />
            <button class="btn btn-success my-4" type="submit">
              send message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
